<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Clustering Facebook Application</title>
  </head>

  <style>
    body  {
      background-image: url("https://www.postplanner.com/hs-fs/hubfs/how%20to%20write%20a%20facebook%20post.jpg?noresize&width=980&height=515&name=how%20to%20write%20a%20facebook%20post.jpg");
      background-color: #cccccc;
      background-repeat: no-repeat;
      opacity: 0.8;
      background-size: cover;
    }
    body {
      font-family: 'IBM Plex Sans Thai', serif;
      font-size: 14px;
    }
  </style>

  <body>

    <div class="prediction">
      <div class="top-heading">
        <h2><b>

          {{ result_value}}

        </b></h2>
      </div>
    </div>

  </body>
</html>